
.input-p {
    padding-right: 0;
}

.btn-p {
    padding-left: 0;
}

.results-display {
    background-color: rgb(28,28,28);
    border: black solid 2px;
    color: white;
    margin-bottom: 4px;
    font-size: 1.3vw;
}

.thumbnails {
    padding-left: 0px;
}

.result-img {
    max-width: 12vw;
    height: auto;
}

.result-header {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    border-bottom: lightblue solid 1px;
}

.clickable-row{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}