
/*most classes recycled from /search/styles.css*/


.primary-date {
    color: white;
    font-size: 1.8vw;
}

.primary-date:hover {
    color: white;
}

.next-date {
    font-size: 1.2vw;
    color: gray;
}

.next-date:hover {
    color: white;
}

.date-btn {
    margin-left: -10px;
}

.date-btn:focus {
    outline: none;
    box-shadow: none;
}

.history-container{
    margin-bottom: 100px;
}

@media screen and (max-width: 900px) {

    .title {
        font-size: 5vw;
        font-weight: bold;
        color: white;
        animation: header-animate 2s linear infinite
    }

    .primary-date {
        color: white;
        font-size: 3.5vw;
    }

    .next-date {
        font-size: 2.5vw;
        color: gray;
    }
}

@media screen and (min-width: 900px) {

    .title {
        font-size: 2vw;
        font-weight: bold;
        color: white;
        animation: header-animate 2s linear infinite
    }

    .primary-date {
        color: white;
        font-size: 1.8vw;
    }

    .next-date {
        font-size: 1.2vw;
        color: gray;
    }
}


@keyframes header-animate {

    0% {
        color: rgba(255,0,0,1);
    }

    25% {

        color: rgba(255,255,0,1);

    }

    50% {

        color: rgba(0,255,0,1);
    }

    75% {

        color: rgba(140, 20, 252,1);
    }



    100% {

        color: rgba(255,0,0,1);
    }
}
