

/*most classes recycled from /search/styles.css*/

.primary-date {
    color: white;
    font-size: 25px;
}


.primary-date:hover {
    color: white;
    font-size: 25px;
}

.next-date {
    color: gray;
}

.next-date:hover {
    color: gray;
}

.date-btn {
    margin-left: -10px;
}

.date-btn:focus {
    outline: none;
    box-shadow: none;
}

.history-container{
    margin-bottom: 100px;
}

