
.menu-header {
    color: white;
    font-family: 'Kalam';
    margin-top: -200px;
}

.btn-login {
    color: black;
    background-color: white;
    border-radius: 40px;
    font-weight: bold;
}

.btn-login:hover {
    transform: scale(1.1);
}

.btn-login-container {
    margin-top: -75px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.85);
}

.signUp-tip {
    color: dimgray;
}

.signUp-anchor {
    text-decoration: none;
    cursor: pointer;
}

.login-container {
    margin: 0;
}

.bg-video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    padding: 0;
}

.credentials-modal-container {
    margin-top: -150px;
}

.error {
    border: red 2px solid;
}







