

.player-controls {
    background-color: rgb(28,28,28);
    position: fixed;
    border: white solid 1px;
    bottom: 0;
    color: white;
}

.player-thumbnail {
    padding-left: 0px;
}

.player-img {
    width: 10px;
    height: auto;
}
