
.bg-color {
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: 0;
}


.header-font {
    color: white;
    font-size: 25px;
    height: 50px;
    font-family: 'Kalam';
}

.menu-btn {
    width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0 0 0 0;
    color: white;
}

.nav-list {
    background-color: black;
    width: 225px;
    position: fixed;
    top: 50px
}

.menu-btn:hover {
    color: red;
}

.login-btn {
    background-color: indianred;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 3px 0 8px 0;
    width: 80px;
}

.navbar-logo {
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.navbar-link {
    font-family: 'Mitr', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: white !important;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 12px;
}

#menu {
    transition: transform .3s
    cubic-bezier(.8, 0, 0, 1);

}

#menu.hide {
    transform: translate3d(-100vw, 0, 0);
}

#menu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

/*.btn {*/
/*    border: solid black 1px;*/
/*    background-color: rgb(28,28,28);*/
/*    color: white;*/
/*}*/