
.header {
    position: sticky;
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 100;
    background-color: black;
    height: 50px;
}

.menu-btn {
    width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0 0 0 0;
    color: white;
}

.profile-btn {
    color: white;
    text-decoration: none;
}

.nav-list {
    background-color: black;
    width: 225px;
    position: fixed;
    top: 50px;
}

.menu-underline {
    display: inline-block;
    position: relative;
}

.menu-underline:after {
    content: '';
    position: absolute;
    width: 45%;
    transform: scaleX(0);
    height: 2px;
    bottom: 4px;
    left: 20px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-btn:hover {
    color: gray;
}

.login-btn {
    background-color: indianred;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 3px 0 8px 0;
    width: 80px;
    position: relative;
    left: 10px;
}

.login-btn:hover {
    transform: scale(1.06);
}

.navbar-logo {
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.navbar-link {
    font-family: 'Mitr', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: white !important;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 12px;
}

.menu {
    transition: transform .25s
    cubic-bezier(.8, 0, 0, 1);
}

.menu.hide {
    transform: translate3d(-100vw, 0, 0);
}

.menu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

.profile-btn:hover{
    animation:  header-animate 2s linear infinite !important;
}

.header-font {
    color: white;
    font-size: 25px;
    font-family: 'Kalam';
    animation: header-animate 2s linear infinite !important
}

@keyframes header-animate {

    0% {
       color: rgba(255,0,0,1);
    }

    25% {

        color: rgba(255,255,0,1);

    }

    50% {

        color: rgba(0,255,0,1);
    }

    75% {

        color: rgba(140, 20, 252,1);
    }



    100% {

        color: rgba(255,0,0,1);
    }
}
